---
layout: layout
---
<% content_for :head do %>

<%= javascript_include_tag 'libs/jquery-2.0.0' %>
<%= javascript_include_tag 'libs/handlebars-1.0.0-rc.3' %>
<%= javascript_include_tag 'libs/ember-1.0.0-rc.3' %>
<%= javascript_include_tag 'libs/ember-data-2013-5-9' %>
<%= javascript_include_tag 'labs' %>
<%= stylesheet_link_tag 'labs' %>
<% end %>


<script type="text/x-handlebars" data-template-name="index">
	
</script>

<script type="text/x-handlebars" data-template-name="labs">
	<nav class="gallery">
		<ul>
			{{#each model}}
				<li>
				{{#linkTo 'labs.lab' this}}
					<figure>
						<img {{bindAttr src="thumbnail" alt="title"}} width="60"/>
					</figure>
					<span class="title">{{title}}</span>
					<span class="date">{{date}}</span>
				{{/linkTo}}
				</li>
			{{/each}}
		</ul>
	</nav>

	{{ outlet }}
</script>

<script type="text/x-handlebars" data-template-name="labs/lab">
	{{title}} <br>
	{{date}} <br>
	{{tags}} <br>
	{{description}} <br>
	{{endPath}} <br>
	{{ outlet }}
</script>
