---
layout: layout
---
<% content_for :head do %>

<%= javascript_include_tag 'libs/jquery-2.0.0' %>
<%= javascript_include_tag 'libs/moment.min' %>
<%= javascript_include_tag 'libs/handlebars-1.0.0-rc.3' %>
<%= javascript_include_tag 'libs/ember-1.0.0-rc.3' %>
<%= javascript_include_tag 'libs/ember-data-2013-5-9' %>
<%= javascript_include_tag 'labs' %>
<%= stylesheet_link_tag 'labs' %>
<% end %>


<script type="text/x-handlebars" data-template-name="index">
	
</script>


<script type="text/x-handlebars" data-template-name="labs">
	<div class="gallery">
		<nav class="gallery-nav">
			<a class="brand pull-left" href="/" title="Home">
				Pedro<br>Kostelec
			</a>
			<div class="labHolder">
				<ul>
					{{#each model}}
						{{#linkTo 'labs.lab' this tagName="li" href=false}}
						<a {{bindAttr href=view.href}}>
							<figure>
								<img {{bindAttr src="thumbnail" alt="title"}} width="60"/>
							</figure>
							<span class="title">{{title}}</span>
							<span class="date">{{fromNow date}}</span>
						</a>
						{{/linkTo}}
					{{/each}}
				</ul>
			</div>
		</nav>
		{{ outlet }}
	</div>
</script>


<script type="text/x-handlebars" data-template-name="labs/lab">
	<div class="lab-description">
		<span class="description">{{description}}</span>
		<div class="tools">
			{{makeTags tags}}
		</div>
		<a {{bindAttr href="url"}} target="_blank" class="external-link">Open in new tab</a>
	</div>

	<div class="viewer">
		<iframe {{bindAttr src="url"}}></iframe>
	</div>
</script>
