#= require "libs/jquery-1.10.2"
#= require "libs/moment.min"
#= require "libs/handlebars-v1.1.2"
#= require "libs/ember.prod"  
#= require "libs/ember-data.prod"

window.App = Ember.Application.create()

App.ApplicationAdapter = DS.FixtureAdapter.extend()

App.Router.map ->
	@resource 'labs', ->
		@route 'lab', 
			path: ':lab_id'

App.IndexRoute = Ember.Route.extend
	redirect: ->
		@transitionTo 'labs'

App.LabsRoute = Ember.Route.extend
	model: ->
		@get('store').find('lab')

App.LabsLabController = Ember.ObjectController.extend

	url: Ember.computed(->
		# Em.run.schedule @, ->

		endPath = this.get('content.endPath')
		endPath || this.get('content.url')
	).property('content.url', 'content.endPath')



App.LabViewerView = Ember.View.extend
	loading: true
	corsProtected: false
	contentOK: false
	templateName: 'lab_viewer'
	classNames: ['viewer']
	attributeBindings: ['url']
	url: 'http://pedro.si'
	checkCORSProtection: (->
		url = @get('url')
		that = @

		Ember.run.once this, ->
			@set 'loading', true
			@set 'corsProtected', false
			@set 'contentOK', false
		
		console.info('checking cors protection', url)
		Em.$.get(url)
			.error (a, b, c, d) ->
				Ember.run.once ->
					that.set 'loading', false
					that.set 'corsProtected', true
					that.set 'contentOK', false
			.success (a, b,c,d) ->
				Ember.run.once ->
					that.set 'loading', false
					that.set 'corsProtected', false
					that.set 'contentOK', true

		).observes('url').on('didInsertElement')




App.Lab = DS.Model.extend
	title:       DS.attr('string')
	date:        DS.attr('date')
	tags:        DS.attr('string')
	description: DS.attr('string')
	endPath:     DS.attr('string')
	url:         DS.attr('string')
	thumbnail:   DS.attr('string')

App.Lab.FIXTURES = [
	<% page_articles.each_with_index do |article, index| %>
	id: "<%= page_articles.size - index - 1 %>"
	title: <%= "\"#{article.title}\"" %>
	date: <%= "\"#{article.date}\"" %>
	tags: <%= "#{article.tags}" %>
	description: <%= "\"#{article.data.description}\"" %>
	endPath: <%= "\"#{article.data.end_path}\"" %>
	url: <%= "\"#{article.url}\"" %>
	thumbnail: <%= "\"#{article.url}thumbnail_compiled_64.png\"" %>
,
	<% end %>
]

#  usage: {{fromNow date}}
Ember.Handlebars.registerBoundHelper 'fromNow', (date)->
	moment(date).fromNow()

Ember.Handlebars.registerBoundHelper 'makeTags', (tags)->
	allTags = ""
	tags.forEach (tag) ->
		allTags += "<div class='tool #{tag.toLowerCase()}'>#{tag}</div>"
	new Handlebars.SafeString allTags