App = Ember.Application.create()

App.Router.map ->
	@resource 'labs', ->
		@route 'lab', 
			path: ':lab_id'

App.IndexRoute = Ember.Route.extend
	redirect: ->
		@transitionTo 'labs'

App.LabsRoute = Ember.Route.extend
	model: ->
		App.Lab.find()

# App.LabsIndexRoute = Ember.Route.extend
# 	redirect: ->
# 		lab = this.modelFor('labs').get('firstObject')
# 		@transitionTo 'labs.lab', lab



App.LabsLabController = Ember.ObjectController.extend
	url: Ember.computed(->
		endPath = this.get('content.endPath')
		endPath || this.get('content.url')
		).property('content.url', 'content.endPath')

App.Store = DS.Store.extend
	revision: 12,
	adapter: 'DS.FixtureAdapter'

App.Lab = DS.Model.extend
	title: DS.attr('string')
	date: DS.attr('date')
	tags: DS.attr('string')
	description: DS.attr('string')
	endPath: DS.attr('string')
	url: DS.attr('string')
	thumbnail: DS.attr('string')

App.Lab.FIXTURES = [
	<% page_articles.each_with_index do |article, i| %>
	id: <%= "\"#{i}\"" %>
	title: <%= "\"#{article.title}\"" %>
	date: <%= "\"#{article.date}\"" %>
	tags: <%= "#{article.tags}" %>
	description: <%= "\"#{article.data.description}\"" %>
	endPath: <%= "\"#{article.data.end_path}\"" %>
	url: <%= "\"#{article.url}\"" %>
	thumbnail: <%= "\"#{article.url}thumbnail.png\"" %>
,
	<% end %>
]

#  usage: {{fromNow date}}
Ember.Handlebars.registerBoundHelper 'fromNow', (date)->
	moment(date).fromNow()

Ember.Handlebars.registerBoundHelper 'makeTags', (tags)->
	allTags = ""
	tags.forEach (tag) ->
		allTags += "<div class='#{tag.toLowerCase()}'>#{tag}</div>"
	new Handlebars.SafeString allTags