<% wrap_layout :layout do %>
    <div id="labEprouvette"></div>
	<div id="headerArea">
		<header>
			<h1><%= yield_content(:header)%></h1>
		</header>
	</div>
	<div id="wrapper">
    <h2><%= yield_content(:intro)%></h2>
    <nav>
    	<%= partial "shared/navlinks" %>
    </nav>

    <%= yield %>

    <footer>
        <small>&copy; 2010-<%= Time.now.year %>, Pedro Damian Kostelec, pedro.si</small>
    </footer>
    
  	</div>
<% end %>