<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <title>Pedro Kostelec</title>
    <meta content="Pedro Damian Kostelec is a greaduate from Imperial College London in MSc Computing, specialized in Artificial intelligence. He is the CTO of Sentinel Marine solutions, a company which delivers yacht monitoring solutions." name="description">
    <meta content="Pedro Kostelec, Pedro Damian Kostelec, web technologies, flash, java, HTML5, CSS, video, machine learning, artitifical intelligence" name="keywords">

    <link rel="shortcut icon" href="assets/images/favicon_16px.png">
    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=PT+Sans:regular|Josefin+Slab:lightitalic" %>
    <%= stylesheet_link_tag "style" %> 
    <%= yield_content(:head)%>
  </head>
  <body>
    
    <%= yield %>
  
    <%= javascript_include_tag 'libs/instantclick.min.js', :'data-no-instant' => true %>
    <script type="text/javascript" data-no-instant>
     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19545605-1']);
      _gaq.push(['_setDomainName', '.pedro.si']);
      _gaq.push(['_trackPageview']);
      
      InstantClick.on('change', function() {
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
        // ga('send', 'pageview', location.pathname + location.search);
      });
    </script> 
    <script>InstantClick.init();</script>

  </body>
</html>
