<% content_for :header, "Pedro Kostelec" %>
<% content_for :intro do %>
Hi, I'm Pedro Kostelec, <span itemprop="title">web developer and designer, interested in machine learning, computer vision and artificial intelligence. I am a currently pursuing a master's degree in Artificial Intelligence at <span itemprop="affiliation">Imperial College London</span>, <span itemprop="country-name">UK</span></span>. 
<% end %>

<section id="contact">
	<h1 class="section">Contact</h1>
    <ul>
    	<li id="mail">
    		<a href="mailto:web@pedro.si?subject=Hi!" title="Send me an email" target="_blank"><span  class="icons mailIcon"></span>E-mail
            <span class="subdesc">Say Hi!</span></a></li>
            <li id="linkedin"><a href="http://www.linkedin.com/in/pedrokostelec" target="_blank" title="Visit my LinkedIn profile" rel="prefetch"><span class="icons linkedinIcon"></span>LinkedIn
            <span class="subdesc">Connect to me</span></a>
        </li>
    </ul>
</section>



<section id="content">
	<h1 class="section">Labs</h1>
    <article>
		<% page_articles.each_with_index do |article, i| %>
        <%

            url_path = article.data.end_path
            url_path ||= article
            url_path = "/labs#/labs/#{page_articles.size - i - 1}"
        %>
			<% link_to url_path, title: article.title, :'data-instant' => true do %> 
			<div class="experiment">
                <h4><%= article.title %></h4>
                <div class="tools">
                	<% article.tags.each do |tag| %>
                		<div class="tool <%= tag.downcase %>"><%= tag %></div>
                	<% end %>
                </div>
                <figure class="experFig">
                    <%= image_for article, :width => 64, alt: article.title %>
                </figure>
                <time datetime="<%= article.date.iso8601 %>"><%= time_ago_in_words article.date.iso8601 %> ago</time>
                <p><%= article.data.description %></p>
            </div>
			<% end %>
		<% end %>
    </article>
</section>